body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 247, 247);
}

.navContainer {
  padding: 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navBarContainer {
  display: flex;
  align-items: center;
  height: 60px;
}

.navBarContainer a {
  text-decoration: none;
}

.navBarContainer .btn-primary {
  height: 50px;
  background-color: rgb(246, 247, 247);
  color: gray;
  border: none;
  border-radius: 50px;
}

.logo {
  display: flex;
  align-items: center;
  margin: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  height: 40px;
}

.searchBar {
  border-top-left-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  padding: 4.5px;
  padding-left: 5px;
  width: 40em;
  height: 100%;
}

.searchContainer .btn-primary {
  padding-top: 5px;
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
}

.cartIcon {
  padding: 0px;
  margin-top: 0px;
}

.cartButton {
  display: flex;
  align-items: center;
  padding-top: 5px;
  height: 100%;
}

.cartButton div {
  margin-left: 2px;
  margin-top: 21px;
  font-weight: 600;
  border: none;
}

.dropDownMenu {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
  height: 35px;
}

.dropDownMenu .btn-primary {
  background-color: rgb(244, 244, 244);
  border: none;
  padding: 0;
  margin-left: calc(100% / 3.6);
  height: 40px;
  color: gray;
  font-weight: 600;
  font-size: 16px;
  height: 35px;
}

.dropDownMenu .btn-primary:hover {
  background-color: rgb(246, 247, 247);
  color: rgb(94, 94, 94);
}

.dropDownMenuButton {
  margin: auto;
  color: red;
  flex: 1;
}

.carousel {
  margin-bottom: 30px;
}

.d-block {
  height: 700px;
}

.carouselContainer {
}

.carouselText {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-top: 200px;
  text-align: center;
  font-size: 100px;
  color: white;
}

.galleryContainer {
}

.galleryHeadingAndSortContainer {
  height: 130px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galleryHeading {
}

.gallerySortBar {
}

.galleryDropDownButton .btn-primary {
  background-color: rgb(246, 247, 247);
  color: gray;
  border: 1px solid;
  border-color: rgba(123, 123, 123, 0.412);
  border-radius: 20px;
  width: 100px;
  font-weight: 400;
  font-size: 12px;
}

.galleryDropDownButton .btn-primary:hover {
  color: gray;
  border: 1px solid;
  border-color: rgba(123, 123, 123, 0.412);

  border-radius: 20px;
  width: 100px;
  background-color: rgba(104, 104, 104, 0.18);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery a {
  position: relative;
  flex-grow: 1;
  height: 300px;
  cursor: pointer;
  background-color: rgb(43, 43, 43);
}

.gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.14s ease;
}

.gallery a:hover .gallery-img {
  opacity: 0.8;
  transition: 0.1s ease;
}

.image-overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.gallery a:hover .image-overlay-contents-delete {
  opacity: 1;
  transition: 0.12s ease;
}

.image-overlay-contents-like {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 94%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.likeButton {
  font-size: 36px;
  transition: 0.14s ease;
}

.likeButton:hover {
  font-size: 41px;
  transition: 0.1s ease;
}

.image-overlay-contents-delete {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 92%;
  top: 9%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.deleteButton {
  font-size: 30px;
  transition: 0.14s ease;
}

.deleteButton:hover {
  font-size: 35px;
  transition: 0.1s ease;
}

.gallery::after {
  content: "";
  flex-grow: 999;
}

.brochureContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  height: auto;
  margin: auto;
}

.brochItemContainer {
  display: flex;
  height: auto;
}

.brochItemTitleContainer {
  width: 170%;
}

.brochItemTitleContainer div {
  align-self: center;
  font-size: 70px;
  font-weight: 700;
}

.brochItemPContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.brochItemPContainer div {
  font-size: 35px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
  background-color: rgb(45, 45, 45);
  font-size: 17px;
  height: 10%;
  padding: 35px;
  margin-top: 10px;
}

.imageViewContainer {
  display: flex;
  flex-direction: row;
}

.uploadPageTitle {
  font-size: 36px;
  font-weight: 700;
}

.uploadForm {
  background-color: rgb(221, 224, 224);
  border: 6px dashed rgb(171, 172, 172);
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  position: relative;
}

.uploadFormContents input {
  opacity: 0;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 40px;
  z-index: 1001;
}

.uploadFormContents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.addUploadButton {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(60, 113, 226);
  color: white;
  cursor: pointer;
  color: gray;
  transition: ease 0.12s;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid black;
}

.addUploadButton:hover {
  background-color: rgb(53, 101, 204);
  transition: 0.1s ease;
}

.uploadFormListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.uploadPageContainer {
  min-height: 550px;
}

.removeUploadIcon {
  cursor: pointer;
  color: red;
}

.removeUploadIcon:hover {
  color: rgb(182, 32, 32);
}

.removeUploadIconSVG {
  pointer-events: none;
}

.fileList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: red; */
  width: 300px;
  justify-content: center;
  align-items: center;
}

.imageItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 145, 185);
  color: white;
  width: 300px;
  padding: 10px;
}
