* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflowYHidden {
  overflow: hidden;
}

.blue {
  color: blue;
}

ul,
li {
  list-style-type: none;
  list-style-position: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

.opacity0 {
  opacity: 0;
}

.gone {
  display: none;
}

/* NavBar CSS */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* margin-right: 0.825rem; */
}

.logo h1 {
  font-size: 1.5rem;
}

.logo__color-white {
  color: white;
  transition: color 0.15s ease-in-out;
  margin: 0;
}

.logo__color-white:hover {
  color: rgb(207, 207, 207);
}

.navbarContainer {
  height: 80px;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s;
}

.blackBG {
  background-color: black;
  transition: 0.5s;
}

.navbarContents {
  width: 90vw;
  max-width: 1535px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 39px;
}

.navbarContents--hamopen {
  width: 90vw;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 39px;
}

.navbar__darken {
  background-color: rgb(55, 57, 65);
}

.navbar__white {
  background-color: rgb(255, 255, 255);
  outline: solid 1px #e7e7e762;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.1rem;
  font-size: 1rem;
}

.navbar__buttons--hamopen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.1rem;
  font-size: 1rem;
}

.navbar--logInButton {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.navbar--logInButton:hover {
  color: rgb(232, 232, 232);
}

.search__container {
  flex-grow: 1;
  position: relative;
}

.search__button {
  border: none;
  background: none;
  position: absolute;
  top: 9px;
  right: 18px;
}

.search__bar {
  border: none;
  background-color: #f7f7f7;
  border-radius: 7px;
  width: 100%;
  flex-grow: 1;
  font-size: 1.125rem;
  font-weight: 500;
  color: #707070;
  padding: 0.7rem 1.35rem;
  /* padding-right: 64px; */
  outline: none;
}

.search__icon {
  color: #747474;
  font-size: 1.25rem;
  transition: 0.05s ease;
}

.search__button:hover .search__icon {
  color: #3d6098;
  transition: 0.05s ease;
}

.navbar__cartIcon {
  padding: 0px;
  margin-top: 0px;
}

.navbar__cartBtn {
  display: flex;
  align-items: center;
  padding-top: 5px;
  height: 100%;
}

.navbar__cartBtn div {
  margin-left: 2px;
  margin-top: 21px;
  font-weight: 600;
  border: none;
}

.dropDownMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3d6098;
  color: #e7e7e7;
  height: 35px;
}

.dropDownMenu .btn-primary {
  background-color: #3d6098;
  color: #e7e7e7;
  border: none;
  padding: 0;
  margin-left: calc(100% / 3.6);
  font-weight: 600;
  font-size: 1rem;
  height: 35px;
}

.dropDownMenu .btn-primary:hover {
  background-color: #3d6098;
  color: orange;
}

.dropDownMenu__button {
  margin: auto;
  color: red;
  flex: 1;
}

.profilePicSmall {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profilePicAuthor {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.navbarArrowIconDownwards {
  margin-left: 7px;
  margin-top: 6px;
  color: white;
  transition: color 0.1s linear;
}

.navbarDropButton:hover .navbarArrowIconDownwards {
  color: rgb(209, 209, 209);
}

.navbarArrowIconDownwardsWHITENAVBAR {
  color: rgb(173, 173, 173);
  transition: 0.1s linear;
  margin-left: 7px;
  margin-bottom: 6px;
}

.navbarDropButton:hover .navbarArrowIconDownwardsWHITENAVBAR {
  color: rgb(149, 149, 149);
}

.whiteNavBarPFPDiv {
  position: relative;
}

.hoverDIV:hover .whiteNavBarPFPDiv:after {
  opacity: 0.32 !important;
  transition: 0.3s;
}

.navbarDropButton:hover .whiteNavBarPFPDiv::after {
  opacity: 0.2;
}

.whiteNavBarPFPDiv:after {
  opacity: 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.125s linear;
}

.navbarButton {
  /* padding: 0.8rem; */
  /* background-color: #debb0c; */
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.navbarButton:hover {
  color: rgb(220, 220, 220);
  transition: 0.1s ease-in-out;
}

.navbarClickThisButton {
  padding: 0.83rem 1.4rem;
  background-color: #debb0c;
  color: rgb(25, 25, 25);
  font-weight: 500;
  border-radius: 6px;
  font-size: 1rem;

  box-shadow: 0px 0px 0px 1px #d8b60a;
  transition: box-shadow 0.1s ease-out;
}

.navbarClickThisButton:hover {
  box-shadow: 0px 0px 0px 0px #debb0c;
}

.navbarClickThisButton:focus {
  color: black !important;
  outline: 2px solid black;
}

.navbarClickThisButton--hamopen {
  padding: 0.83rem 1.4rem;
  background-color: #debb0c;
  color: rgb(25, 25, 25);
  font-weight: 500;
  border-radius: 6px;
  font-size: 1rem;

  box-shadow: 0px 0px 0px 1px #debb0c;
  transition: box-shadow 0.1s ease-out;
}

.navbarClickThisButton__whitenav {
  padding: 0.83rem 1.29rem;
  background-color: #debb0c;
  color: rgb(25, 25, 25);
  font-weight: 500;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 0px 0px 0px 1px #debb0c;
}

.navbarClickThisButton__whitenav:hover {
  background-color: #e0bf18;
}

.hamburgerIcon {
  display: none;
  position: relative;
  color: white !important;
}

.hamburgerIcon--hamopen {
  font-size: 1.41rem;
}

.hamburgerXIcon {
  font-size: 1.41rem;
}

*:focus {
  border: none;
  outline: none;
  /* color: rgb(209, 209, 209) !important; */
}

.hamburgerXIcon:focus {
  color: rgb(209, 209, 209) !important;
}

.hamburgerXIcon:hover {
  color: rgb(209, 209, 209);
}

@media (width < 900px) {
  .hamburgerIcon {
    display: inline;
    position: inherit;
    font-size: 1.41rem;
  }
}

.hamburgerListClass {
  overflow-y: auto;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: black;
  color: white;
  border-top: 0.3px solid rgb(61, 61, 61);
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 9999999;
  animation: fadeIn 0.6s;
  font-size: 2rem;
  padding-bottom: 1.75rem;
}

.hamburgerListClass ul {
  margin-top: 1rem;
}

.hamburgerListClass li {
  padding: 0 0.4rem !important;
}

.hamburgerListClass ul li a {
  color: white;
  font-size: 1.2rem;
}

.hamburgerListClass ul li a:hover {
  color: lightgray;
}

.hamburgerListClass ul li {
  background-color: black !important;
}

.smallUploadButton {
  color: white;
  font-size: 0.95rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.smallUploadButton:hover {
  color: #debb0c;
}

.smallUploadButton--hamopen {
  display: none;
  position: absolute;
}

@media (width < 650px) {
  .navbarClickThisButton {
    padding: 0.48rem 1.4rem;
    border-radius: 4px;
  }
  .navbarClickThisButton--hamopen,
  .navbarDropCont--hamopen {
    display: none;
    position: relative;
  }
  .carousel__search-bar--hamopen,
  .carousel__search-button--hamopen {
    height: 35px !important;
  }
  .carousel__search-icon--hamopen {
    top: 27% !important;
    left: 2% !important;
  }
  .navbarContents--hamopen {
    gap: 1.5625rem; /*25px*/
  }
  .logo h1 {
    font-size: 1.35rem;
  }

  .navbarDropCont {
    display: none;
    position: relative;
  }
  .navbar__buttons {
    gap: 1.3rem;
  }
  .navbar__buttons--hamopen {
    gap: 0.3rem;
  }
}

@media (width < 310px) {
  .navbarClickThisButton {
    display: none;
    position: relative;
  }
  .smallUploadButton {
    display: inline;
    position: inherit;
  }
  .navbar__buttons {
    gap: 0.725rem;
  }
}

.navbarDropCont {
  position: relative;
  padding-bottom: 0.8rem;
  margin-top: 0.8rem;
  z-index: 100000;
}

.navbarDropCont--hamopen {
  position: relative;
  padding-bottom: 0.8rem;
  margin-top: 0.8rem;
  z-index: 100000;
}

.navbarDropButton {
  /* padding: 0.8rem; */
  /* background-color: #debb0c; */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.navbarDropButton a {
  display: flex;
  align-items: center;
}

.navbarDropButton:hover {
  color: rgb(220, 220, 220);
  transition: 0.1s ease-in-out;
}

.navbarDropButton:hover .profilePicSmall {
  color: rgb(220, 220, 220);
  transition: 0.1s ease-in-out;
}

.navbarULContHover {
  visibility: visible;
  opacity: 1;
  transition: 0s ease;
  transition-property: all;
  transition-delay: 0.2s;
}

.navbarULCont {
  border: 1px solid rgba(128, 128, 128, 0.642);
  position: absolute;
  right: -10px;
  top: 39px;
  width: 140px;
  border-radius: 8px;
  background-color: white;
  padding: 0.55rem 0;
}

.navbarULCont::after {
  content: "";
  border: 8.5px solid transparent;
  border-top-color: white;
  position: absolute;
  top: -15px;
  left: 104.5px;
  transform: rotate(180deg);
}

.navbarULCont::before {
  content: "";
  border: 8.5px solid transparent;
  border-top-color: rgb(176, 176, 176);
  position: absolute;
  top: -16.5px;
  z-index: -1;
  left: 104.5px;
  transform: rotate(180deg);
}

.navbarUL {
  font-weight: 500;
}

.navbarUL li {
  padding: 0.325rem 0.25rem;
  width: 100%;
  cursor: pointer;
}

.navbarUL li a {
  color: #535353;
  font-size: 1rem;
  padding-left: 0.75rem;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.navbarUL li:hover {
  background-color: rgb(245, 245, 245);
}

.navbar .btn-primary:hover {
  background-color: #debb0c;
  color: rgb(77, 77, 77);
}

/* MainPage CSS*/

.mainPage__heroPicture {
  background-size: cover;
  min-height: 31.5rem;
  background-color: rgba(23, 45, 212, 0.312);
  background-blend-mode: darken;
  /* background: url("C:\Users\Chad Kirk\Documents\mern-stuff\mern-ecommerce\client\src\4K_Nature-Wallpaper.jpg") */
  /* no-repeat; */
}

@media (width < 430px) {
  .mainPage__heroPicture {
    height: 34.5rem;
  }
}

.signUpPage {
  height: 100vh;
  /* background: url("C:\Users\Chad Kirk\Documents\mern-stuff\mern-ecommerce\client\src\pexels-jakub-novacek-924824.jpg"); */
}

.changePWBtn {
  padding: 0.8rem;
  background-color: #d4d4d4;
  color: rgb(25, 25, 25);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.deleteAccountBtn {
  padding: 0.8rem;
  background-color: #de0c0c;
  color: rgb(252, 252, 252);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

/* Home Page Navbar Searchbar */

.carousel__search-container {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__search-container--hamclose {
  display: none;
  position: relative;
}

.carousel__search-container--hamopen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__search-button {
  background-color: white;
  height: 50px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 1rem;
  position: relative;
}

.carousel__search-button--hamopen {
  background-color: white;
  height: 50px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 1rem;
  position: relative;
  animation: fadeIn 0.6s;
}

.carousel__search-icon {
  color: #747474;
  font-size: 1.25rem;
  transition: 0.05s ease;
  position: absolute;
  top: 34%;
  left: 0;
}

.carousel__search-icon--hamopen {
  color: #747474;
  font-size: 1rem;
  transition: 0.05s ease;
  position: absolute;
  top: 34%;
  left: 3%;
}

.carousel__search-button:hover .carousel__search-icon {
  color: #4d81d6;
  transition: 0.05s ease;
}

.carousel__search-bar {
  border: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  max-width: 38rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  padding-right: 30px;
  outline: none;
  color: #747474;
  height: 50px;
}

.carousel__search-bar--hamopen {
  border: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  max-width: 38rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  padding-right: 30px;
  outline: none;
  color: #747474;
  height: 50px;
  animation: fadeIn 0.6s;
}
/* Normal Navbar Searchbar */

.carousel__contents {
}

.heroImage {
  width: 100%;
  height: 28.125rem;
  object-fit: cover;
}

.carousel__container {
}

.carousel__overlay {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 10rem;
  z-index: 100;
  color: white;
  margin: auto;
  padding: 0 15px;
}

@media (width < 559px) {
  .carousel__overlay {
    top: 9rem;
  }
}

@media (width < 314px) {
  .carousel__overlay {
    top: 6.5rem;
  }
}

.carousel__overlay p {
  max-width: 35ch;
  margin: auto;
}

.carousel__overlay-categories {
  /* margin-top: 0.8rem; */
  max-width: 70ch;
  font-size: 1rem;
  padding: 1.5rem 0;
  margin: auto;
}

.carousel__overlay-categories a {
  padding: 0.25rem 0.13rem;
  color: white;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  font-size: 0.9rem;
}

.carousel__overlay-categories a:hover {
  color: rgb(207, 207, 207);
}

.carousel__overlay-categories p {
  display: inline;
  color: rgb(219, 219, 219);
  font-weight: 400;
}

/*Search Results and My Likes Gallery CSS*/

.likesModalCont {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(233, 233, 233);
  z-index: 100000000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likesModalDiv {
  background-color: rgb(133, 166, 185);
  border-radius: 2px;
  padding: 3rem;
}

.likesModalButtonCont {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.likesModalButtonCont button {
  color: white;
  background-color: rgb(62, 123, 158);
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.likesModalButtonCont button:hover {
  color: white;
  background-color: rgb(42, 82, 105);
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.imgGallerySectionCont1 {
  width: 100%;
  margin: auto;
  padding: 0 6px 0 6px;
}

.sortingBarCont1 {
  display: flex;
  justify-content: center;
  padding: 2rem 0px 1.5rem 0px;
  gap: 3rem;

  max-width: 1500px;
  width: 100%;
  margin: auto;
}

@media (width < 800px) {
  .sortingBarCont1 {
    border-bottom: 1px solid rgb(228, 228, 228);
  }
}

.sortingBarCont1 button {
  font-size: 1rem;
}

.fixed {
  /* opacity: 1; */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(23, 26, 35);
  /* transition: 0.2s ease-in-out; */
}

.imgGalleryCont1 {
  max-width: 1500px;
  margin: auto;
  margin-top: 0.6rem;
  margin-bottom: 4.25rem;
}

.freeStockPhotosHeading {
  padding: 1.65rem 0px 1.3rem 0px;
  margin-left: 15px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.freeStockPhotosHeading a {
  font-size: 1.15rem;
  text-decoration: none;
  color: rgb(68, 68, 68);
}

.freeStockPhotosHeading a:hover {
  color: black;
  transition: 0.2s;
}

.hoverThisForPFPOverlay {
  position: relative;
}

.freeStockPhotosHeadingImg::after {
  opacity: 0;
  display: block;
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  top: -4px;
  left: -4px;
  background-color: rgb(0, 0, 0);
  transition: 0.125s linear;
}

.hoverThisForPFPOverlay:hover .freeStockPhotosHeadingImg::after {
  opacity: 0.25 !important;
  transition: 0.3s;
}

.likesPageHeadingUsernameLink {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.likesPageHeadingUsernameLink:hover {
  border-bottom: 2px dotted black;
  transition: 0.4s !important;
}

.imgGalleryImgCont1 {
  position: relative;
  font-size: 1rem;
  color: rgb(73, 73, 73);
  background-color: rgb(248, 245, 235);
  overflow: hidden;
  overflow-y: hidden;
  margin: 15px;
}
@media (width < 901px) {
  .imgGalleryImgCont1 {
    margin: 7px;
  }
  .freeStockPhotosHeading {
    margin-left: 6px;
  }
}
/* imgoverlay black thing */
.imgGalleryImgCont1:hover::after {
  opacity: 1;
  box-shadow: inset 0px 0px 30px 60px rgba(0, 0, 0, 0.15);
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  left: -390px;
  width: 490%;
  z-index: 0;
  pointer-events: none;
}

.imgGalleryImgOverlay1 {
  opacity: 0;
}

.imgGalleryImgCont1:hover .imgGalleryImgOverlay1 {
  opacity: 1;
  position: initial;
}

@media (width < 650px) {
  .imgGalleryImgOverlay1 {
    opacity: 1;
  }
  .likeButtonContainer1 {
    /* background-color: rgba(0, 0, 0, 0) !important; */
    color: white !important;
  }
  .downloadButtonCont1 {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white !important;
    font-size: 1.25rem;
    bottom: 10px !important;
    padding-bottom: 0rem !important;
    padding-right: 0.25rem !important;
  }
  .imgAuthor1 {
    opacity: 0;
  }
}

@media (width < 500px) {
  .downloadButtonCont1 {
    font-size: 1rem !important;
  }
}

.buttonClicked {
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 0.75rem;
}

.buttonNotClicked {
  /* color: white;
  background-color: black; */
  border-radius: 25px;
  padding: 0.75rem;
}

.paperWorkButtons--container {
  display: flex;
  white-space: nowrap;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 1.5rem 15px;
  position: relative;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.paperWorkButtons--container::-webkit-scrollbar {
  display: none;
}

@media (width < 420px) {
  .paperWorkButtons--container {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}

.paperWorkButtons-overflowArrowLeft {
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 89px;
  left: 0;
  padding: 0.5rem;
  height: 70px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 30%,
    rgba(0, 212, 255, 0) 100%
  );
  animation: fadeIn 0.2s;
}

.paperWorkButtons-overflowArrowRight {
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 89px;
  right: 0px;
  padding: 0.5rem;
  height: 70px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255) 30%,
    rgba(0, 212, 255, 0) 100%
  );
  animation: fadeIn 0.2s;
}

@media (width > 400px) {
  .paperWorkButtons-overflowArrowLeft {
    display: none;
  }
  .paperWorkButtons-overflowArrowRight {
    display: none;
  }
}

.opacity0 {
  opacity: 0;
  transition: 0.1s;
}

.paperWorkButtons-arrowIcon {
  font-size: 1rem;
  color: rgb(85, 85, 85);
}

.inactivePWorkBtn {
  position: relative;
  color: black;
  font-weight: 300;
}

.activePWorkBtn {
  position: relative;
  color: rgb(236, 236, 236) !important;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 500;
}

.imgGalleryImg1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.likeButtonContainer1 {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  text-decoration: none;
  color: rgb(73, 73, 73);
  border-radius: 10px;
  padding: 20.5px;
  z-index: 100;
}

.likeButtonHeart1 {
  font-size: 1rem;
  border-radius: 10px;
  pointer-events: none;
  position: absolute;
  z-index: 100;
  top: 13px;
  left: 13.5px;
}

.likeButtonLikedFill1 {
  color: red;
  z-index: 105;
  animation: likeAnimation 0.4s;
}

@keyframes likeAnimation {
  from {
    font-size: 1.25rem;
    top: 10.25px;
    left: 12.1px;
    color: rgb(234, 1, 1);
  }
  to {
    font-size: 1rem;
    top: 13px;
    left: 13.5px;
    color: red;
  }
}

@media (width < 650px) {
  .likeButtonContainer1 {
    padding: 2px 23px 0px 0px;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .likeButtonHeart1 {
    top: 2px;
    left: 5px;
  }
  .likeButtonLikedFill1 {
    animation: likeAnimationZoomedIn 0.4s !important;
  }
}

.joinNowContainer {
  background-color: rgb(214, 184, 33);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -90px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.329); */
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1.5rem;
  margin-top: -1.8rem;
}

.joinNowContainer h1 {
  font-size: 1.875rem;
  font-weight: 700;
}

.joinNowContainer h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.joinNowContainer a {
  text-decoration: none;
  color: black;
}

.joinNowContainer button {
  margin-bottom: 4.5rem;
  background-color: #ebc81a;
  color: black;
  border: 3px solid black;
  padding: 0.5rem 5.5rem;
  border-radius: 25px;
  font-size: 1.125rem;
  font-weight: 700;
  transition: 0.2s;
}

.joinNowContainer button:hover {
  background-color: white;
  transition: 0.2s;
}

@keyframes likeAnimationZoomedIn {
  from {
    font-size: 1.25rem;
    top: 0px;
    left: 3.5px;
    color: rgb(234, 1, 1);
  }
  to {
    font-size: 1rem;
    /* top: 13px; */
    /* left: 13.5px; */
    color: red;
  }
}

.likeButtonHeart2 {
  border-radius: 10px;
  pointer-events: none;
  /* position: absolute; */
  z-index: 100;
}

.likeButtonLikedFill2 {
  color: red;
  z-index: 105;
  animation: likeAnimation2 0.4s;
}

@keyframes likeAnimation2 {
  from {
    font-size: 1.45rem;
    /* top: 11.65px;
    left: 12.1px; */
    color: rgb(234, 1, 1);
  }
  to {
    font-size: 1.2rem;
    /* top: 14px;
    left: 14px; */
    color: red;
  }
}

.downloadButtonCont1 {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  bottom: 12px;
  right: 10px;
  background-color: white;
  text-decoration: none;
  color: rgb(73, 73, 73);
  border-radius: 10px;
  padding: 8.5px 13px;
}

.downloadButton1 {
  z-index: 100;
  pointer-events: none;
  border-radius: 10px;
}

.likeButtonContainer1:hover {
  background-color: #f1f1f1;
}

.downloadButtonCont1:hover {
  background-color: #f1f1f1;
}

.imgAuthor1 {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 3px;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.75rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 0.425rem;
}

.imgAuthor1:hover {
  background: none;
  color: #f1f1f1;
  text-decoration: underline;
}

.galleryContainer {
}

.galleryHeadingAndSortContainer {
  margin-top: 3rem;
}

.galleryHeading {
  font-size: 2rem;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.galleryHeading h2 {
  font-size: 2.77rem;
}

.galleryHeading p {
  font-size: 1rem;
  margin-top: -1.6rem;
  color: rgb(118, 118, 118);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
  background-color: rgba(197, 208, 216, 0.545);
  border-top: 2px solid rgba(169, 169, 169, 0.21);
}

.gallery a {
  position: relative;
  flex-grow: 1;
  height: 300px;
  cursor: pointer;
  background-color: rgb(43, 43, 43);
}

.gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.14s ease;
}

.gallery a:hover .gallery-img {
  opacity: 0.8;
  transition: 0.1s ease;
}

.gallery::after {
  content: "";
  flex-grow: 999;
}

/* Image View Page CSS */

.subBarCont1 {
  position: fixed;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  gap: 40px;
}

.subBarAuthor1 {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}

.subBarLikeDownload1 {
  display: flex;
  gap: 1.2rem;
}

.imgViewLikeBtn {
  display: flex;
  outline: 1px gray solid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.imgViewDLBtn {
  display: flex;
  background-color: rgb(69, 209, 186);
  color: white;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  gap: 0.2rem;
  font-size: 1.2rem;
}

.profilePic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: beige;
}

.profilePicBig {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: beige;
  object-fit: cover;
}

.imageViewDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.imageViewPageMainImg {
  width: 62%;
}

.imgViewPageTitleLikesCont {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding-left: 6.75rem;
  padding-right: 6.75rem;
}

/*My Pics gallery CSS*/

.myPicsGalleryMainContainer {
  overflow: hidden;
}

.myPicsGalleryContainer {
  width: 80%;
}

.galleryHeadingAndSortContainer {
  /* height: 130px;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 72%; */
}

.myPicsGalleryHeadingAndSortContainer {
  height: 130px;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 72%;
  padding: 2rem;
  margin: auto;
  /* margin-top: 1.5rem; */
}

.gallerySortBar {
  gap: 1.25rem;
  /* margin: auto; */
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.myPicsGallerySortBar {
  gap: 20px;
  padding: 1rem;
  padding-left: 1.5rem;
  background-color: rgba(174, 196, 212, 0.545);
  border-top: 2px solid rgba(169, 169, 169, 0.21);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myPicsGallerySortBar-leftContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.myPicsGallerySortBar-rightContainer {
  display: flex;
  align-items: center;
  gap: 1.65rem;
  margin-right: 2.5rem;
  font-size: 1.14rem;
}

.massIcon {
  opacity: 0.6;
  cursor: pointer;
}

.massIcon:hover {
  opacity: 1;
}

.massIconText {
  position: absolute;
  top: 2rem;
  left: -1.25rem;
  background-color: rgb(2, 7, 53);
  color: white;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.25rem;
  border-radius: 4px;
}

.galleryDropDownButton {
  display: flex;
}

.galleryDropDownButton .btn-primary {
  background-color: white;
  color: gray;
  border: none;
  outline: 1px solid rgba(179, 179, 179, 0.412);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
}

.galleryDropDownButton .btn-primary:hover {
  color: gray;
  border: none;
  outline: 1.5px solid rgba(94, 94, 94, 0.412);
  background-color: white;
}

.myPicsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 1rem;
  background-color: rgba(174, 196, 212, 0.545);
  border-top: 2px solid rgba(169, 169, 169, 0.21);
  height: 100vh;
  overflow: scroll;
}

.myPicsDiv {
  width: 200px;
  height: 225px;
  outline: 2px solid #e7e7e7;
  background-color: lightblue;
  border-radius: 10px;
  position: relative;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.myPicsGallery__img-title {
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  padding: 1rem;
  padding-top: 0.6rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

.checkbox {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.checkboxSelectAll {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.myPicsGallery__imageOverlay-container {
}

.previewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-top: 2rem;
}

.previewDiv p {
  opacity: 0.5;
}

.eyeIcon {
  font-size: 1.75rem;
  opacity: 0.4;
}

.border {
  outline: 2px solid rgba(15, 15, 199, 0.641);
  box-shadow: 0px 5px 6px rgba(85, 85, 85, 0.673);
}

.myPicsGallery-img {
  width: 200px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  object-fit: cover;
}

.myPicsDiv:hover {
  box-shadow: 0px 5px 6px rgba(85, 85, 85, 0.673);
  transition: 0.1s ease-in-out;
}

.myPicsDiv:hover .myPicsGallery-img {
}

.image-overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.gallery a:hover .image-overlay-contents-delete {
  opacity: 1;
  transition: 0.12s ease;
}

.image-overlay-contents-like {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 94%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.likeButton {
  font-size: 2.25rem;
  transition: 0.14s ease;
}

.likeButton:hover {
  font-size: 41px;
  transition: 0.1s ease;
}

.image-overlay-contents-delete {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 92%;
  top: 9%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.deleteButton {
  font-size: 30px;
  transition: 0.14s ease;
}

.deleteButton:hover {
  font-size: 35px;
  transition: 0.1s ease;
}

.myPicsgallery::after {
  content: "";
  flex-grow: 999;
}

.myPicsGalleryEditorContainer {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.6rem;
  border-top: 2px solid rgba(169, 169, 169, 0.21);
  background-color: #f2f2f2;
}

.myPicsGalleryAndEditorContainer {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: auto;
}

/* mypics gallery scrollbar */

.myPicsGallery::-webkit-scrollbar {
  width: 10px;
}

.myPicsGallery::-webkit-scrollbar-thumb {
  background: rgb(60, 92, 161);
  border-radius: 5px;
  height: 10px;
}

.myPicsGallery::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.editorFormContainer {
  width: 25vw;
}

#previewImageForEditor {
  width: 100%;
  max-height: 300px;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
  outline: 4px solid rgb(233, 233, 233);
}

.editorFormDetailsSubContainer {
  font-size: 1.25rem;
  margin-top: 1.7rem;
}

.editorFormDetailsSubContainer input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  font-size: 0.85rem;
  /* font-weight: 600; */
  padding: 0.35rem;
  padding-left: 0.5rem;
  margin-top: 0.6rem;
}

.editorFormDetailsSubContainer textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  font-size: 0.85rem;
  /* font-weight: 600; */
  padding: 0.35rem;
  padding-left: 0.5rem;
  margin-top: 0.6rem;
  height: 5rem;
  resize: none;
}

.textArea1 {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  font-size: 0.85rem;
  /* font-weight: 600; */
  padding: 0.35rem;
  padding-left: 0.5rem;
  margin-top: 0.6rem;
  height: 5rem;
  resize: none;
}

.editorFormDetailsSubContainerInput {
  width: 100%;
  border-radius: 4px;
  /* border: 2px solid black; */
  /* border: none; */
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.35rem;
  padding-left: 0.5rem;
  margin-top: 0.6rem;
}

.editorFormDetailsSubContainerInputRed {
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgb(151, 0, 0);
  /* border: none; */
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.35rem;
  padding-left: 0.5rem;
  margin-top: 0.6rem;
}

.editorFormDetailsSubContainerInputRed:focus {
  /* border: none; */
  border: 2px solid rgb(151, 0, 0);
  outline: none;
}

.editorFormDetailsSubContainerInput:focus {
  /* border: none; */
  border: 2px solid black;
  outline: none;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: grey;
  background-color: rgb(45, 45, 45);
  font-size: 1rem;
  height: 10%;
  padding: 2rem;
  /* margin-top: 6.5rem; */
}

@media (width < 900px) {
  .footerContainer {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.footerContainer h4 {
  color: white;
  font-size: 1.4375rem;
}

.footerUnderline {
  margin-bottom: 0.75rem;
  width: 3.7rem;
  height: 4px;
  background-color: orange;
}

.footerUnderline2 {
  margin-bottom: 0.75rem;
  width: 4rem;
  height: 4px;
  background-color: orange;
}

.footerContainer a {
  font-size: 1.3rem;
  color: rgb(194, 193, 193);
  text-decoration: none;
}

.footerContainer a:hover {
  color: rgb(220, 218, 218);
}

.footerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imageViewContainer {
  display: flex;
  flex-direction: row;
  margin-top: 140px;
}

.uploadPageTitle {
  font-size: 36px;
  font-weight: 700;
}

.uploadForm {
  background-color: rgb(221, 224, 224);
  border: 6px dashed rgb(171, 172, 172);
  width: 600px;
  height: 250px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 80px;
  /* position: relative; */
  transition: 0.1s ease;
}

.uploadForm:hover {
  background-color: rgba(186, 207, 251, 0.918);
  border: 6px dashed rgb(55, 137, 209);
}

.uploadForm:hover .addUploadButton {
  background-color: rgb(56, 104, 207);
}

.uploadFormContents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.uploadFormContents input {
  opacity: 0;
  font-size: 0px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -300px;
  width: 600px;
  height: 249.5px;
  z-index: 1001;
  background-color: red;
}

.uploadFormInputButtonAndCaptions {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.addUploadButton {
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(60, 113, 226);
  color: white;
  cursor: pointer;
  color: gray;
  width: 200px;
  height: 80px;
  border-radius: 3px;
  border: 1px solid black;
  margin-top: 25px;
}

.addUploadButton:hover {
  background-color: rgb(53, 101, 204);
  transition: 0.1s ease;
}

.uploadFormCaption {
  margin-top: 55px;
  font-weight: 400;
  opacity: 0.5;
}

.uploadFormListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.uploadPageContainer {
  min-height: 550px;
}

.removeUploadIcon {
  cursor: pointer;
  color: red;
}

.removeUploadIcon:hover {
  color: rgb(182, 32, 32);
}

.removeUploadIconSVG {
  pointer-events: none;
}

.fileList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.imageItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 145, 185);
  color: white;
  width: 600px;
  height: 120px;
  padding: 10px;
  animation: fadeIn 0.4s;
}

.imageItemError {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(138, 36, 36);
  color: white;
  width: 600px;
  height: 120px;
  padding: 10px;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.changePFPInput {
  opacity: 0;
  font-size: 0px;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  /* margin: -125px 0 0 -300px; */
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: red;
  border-radius: 10px;
}

.changePFPBtn {
  position: relative;
  padding: 0.8rem;
  background-color: #debb0c;
  color: rgb(25, 25, 25);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.dragOverCSS {
  background-color: rgb(205, 220, 252);
  border: 6px dashed rgb(55, 137, 209);
}

/* SignUp CSS */

.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 2rem;
  margin: auto;
  margin-top: 1.5rem;
}

.signUpContainer__heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.signUpContainer__p {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.signUpContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signUpContainer input {
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.signUpContainer input:focus {
  background-color: rgb(250, 250, 250);
  outline: 2px solid #3b5998;
}

.signUpContainer button {
  background-color: #3b5998;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.signUpContainer button:hover {
  background-color: #3f60a7;
}

/* toast css */

.toastSuccess {
  width: 400px;
  max-height: 80px;
  padding: 1.15rem 1rem;
  background-color: green;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-200px, 0);
}

.toastError {
  width: 450px;
  max-height: 80px;
  padding: 1.15rem 1rem;
  background-color: rgb(174, 61, 61);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-200px, 0);
}

.reachedTheEndCont {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

.contactFormCont {
  margin: 2.75rem auto;
  padding: 2.5rem 2rem 4rem 2rem;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 3px;
}

.contactFormCont h1 {
  font-size: 1.625rem;
  font-weight: 1000;
  margin-bottom: 3.75rem;
}

.contactForm--InputBlock {
  margin-bottom: 2rem;
}

.contactForm--InputBlock label {
  display: block;
  font-size: 0.85rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.contactForm--InputBlock input {
  font-size: 1rem;
  width: 410px;
  height: 50px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 4px;
  padding: 0rem 0.5rem;
}

.contactForm--InputBlock input:focus {
  border: 2px solid black;
}

.contactForm--InputBlock textarea {
  font-size: 1rem;
  width: 410px;
  min-height: 70px;
  height: 50px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
}

.contactForm--InputBlock textarea:focus {
  border: 2px solid black;
}

.contactFormCont button {
  margin-top: 1.4rem;
  float: right;
  color: white;
  background-color: rgb(1, 1, 72);
  font-weight: 300;
  padding: 0.55rem 0.8rem;
  border-radius: 4px;
  transition: 0.2s;
}

.contactFormCont button:hover {
  background-color: rgb(6, 6, 41);
  transition: 0.2s;
}

.signInPage--contentsContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (width < 800px) {
  .signInPage--contentsContainer {
    flex-direction: column;
  }
  .signInPage--formContainer {
    width: 100% !important;
    order: 2 !important;
  }
}

.signInPage--formContainer {
  width: 28.125rem;
  padding: 2.1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.signInPage--formContainer button {
  font-size: 1rem;
  width: 100%;
  height: 50px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 4px;
  padding: 0rem 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
}

.signInPage--signInBtn {
  font-size: 1rem;
  width: 100%;
  height: 50px;
  border: none !important;
  border-radius: 4px;
  padding: 0rem 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  background-color: #debb0c;
  color: black;
}

.signInPage--signInBtn:hover {
  box-shadow: 0px 0px 5px 1px rgb(214, 187, 136);
  background-color: #d7b408;
  transition: 0.1s;
}

.signInPage--contentsContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.signInPage--inputBlock {
  margin-top: 1.25rem;
  width: 100%;
}

.signInPage--inputBlock label {
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.signInPage--inputBlock input {
  font-size: 1rem;
  width: 100%;
  height: 45px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 4px;
  padding: 0rem 0.5rem;
}

.signInPage--inputBlock input:focus {
  border: 2px solid black;
}

.signInPage--rightImgCont {
  flex: 1;
  height: 675px;
  background-color: darkgreen;
}

.signInPage--or {
  width: 100%;
  margin-top: 1.25rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.orLine {
  height: 1px;
  background-color: rgb(222, 222, 222);
  width: 100px;
}

.photosByContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
  margin-right: 18px;
}

@media (width < 900px) {
  .photosByContainer {
    margin-right: 9px;
  }
}

@media (width < 710px) {
  .photosByContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .gallerySortBar {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .freeStockPhotosHeading {
    padding-bottom: 0.5rem;
    margin-left: 4px !important;
    margin-top: 2.75rem;
  }
  .galleryDropDownButton {
    margin-left: 6px !important;
  }
}
