<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Password Reset Email</title>
  </head>
<body>
    <div
      style="background-color: #ffffff;align-content: center;padding: 1rem 1.5rem;border-radius: 1px;"
    >
      <h1 style="font-size: 2rem;margin: auto; padding: 0;text-align: center;padding: 1rem;height: 36px;">PicPocket</h1>
      <div style="border-top: 6px solid #ffa500; width: 124px;margin: auto;margin-top: -0.9rem;"></div>

      <div
        style="background-color: #f9f9f9;margin-top: 3rem;border-radius: 2px;padding: 0rem 2.5rem 0.75rem 2.5rem; text-align: center;font-size: 1.15rem;"
      ><h3 style="font-size: 2.5rem; padding-top: 2rem;padding-bottom: 0.4rem;">Reset Password</h3>
        <h4 style="color:#000000;font-weight: 400;">Hey, <b>{{name}}</b>. We have received a request to reset your password.</h4>
        <h4 style="color:#000000;padding-bottom: 1.1rem;font-weight: 400;">Let's get you a new one!</h4>
        <a href='http://localhost:3000/{{linkName}}/reset-password/{{token}}' style="font-size: 1.5rem;background-color: #ffa500; padding: 0.75rem 1.25rem;text-decoration: none; border-radius: 7px;color:#ffffff;">
          Reset My Password</a>
        <p style="color:#000000;padding-top: 4.75rem;font-size: 1rem;">Didn't request a password reset? You can ignore this message.</p>
        
    </div>
</body>
</html>